* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, gray, rgb(204, 201, 201));
    position: relative;
}

mark {
    background: white;
    border-radius: 10px;
    border: groove 3px black;
}

.container-btn {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-left: -3vh;
    font-size: 30px;
    cursor: grab;
}

.front {
    display: flex;
    width: 100%;
    height: 100vh;
    color: black;
    user-select: none;
}

.background-front {
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, gray, rgb(204, 201, 201));
    color: white;
}

.titulo-front {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
    transform: rotate(270deg);
    user-select: none;
}

.conteudo-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo-front h1 {
    height: 10vh;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 40px;
    user-select: none;
}

.conteudo-front p {
    font-size: 30px;
    user-select: none;
}

.back {
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, rgb(80, 79, 79), rgb(85, 85, 85));
    color: black;
    user-select: none;
}

.background-back {
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, rgb(80, 79, 79), rgb(85, 85, 85));
    color: white;
    user-select: none;
}

.titulo-back {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
    transform: rotate(270deg);
    user-select: none;
}

.conteudo-back {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.conteudo-back h1 {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-size: 40px;
    user-select: none;
}

.conteudo-back p {
    font-size: 30px;
    user-select: none;
}

.full {
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(51, 50, 50), rgb(34, 33, 33));
    color: black;
    user-select: none;
}

.background-full {
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(51, 50, 50), rgb(34, 33, 33));
    color: white;
    user-select: none;
}

.titulo-full {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
    transform: rotate(270deg);
    user-select: none;
}

.conteudo-full {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.conteudo-full h1 {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-size: 40px;
    user-select: none;
}

.conteudo-full p {
    font-size: 30px;
    user-select: none;
}

@media (max-width: 480px) {
    .titulo-front, .titulo-back, .titulo-full {
        font-size: 20px;
    }

    .conteudo-front h1 {
        font-size: 30px;
    }

    .conteudo-back h1 {
        font-size: 30px;
    }

    .conteudo-full h1 {
        font-size: 25px;
    }

    .conteudo-front p {
        font-size: 17px;
    }

    .conteudo-back p {
        font-size: 17px;
    }

    .conteudo-full p {
        font-size: 17px;
    }
}